In [37]:
sql = """
with formatado as (
	select 
	"Data Sorteio",
	concurso,
	trim(to_char("1º Prêmio" %% 10000, '0000')) as p1,
	trim(to_char("2º Prêmio" %% 10000, '0000')) as p2,
	trim(to_char("3º Prêmio" %% 10000, '0000')) as p3,
	trim(to_char("4º Prêmio" %% 10000, '0000')) as p4,
	trim(to_char("5º Prêmio" %% 10000, '0000')) as p5
	from loteria
), formatados2 as (
select *,
concat(
	substring(p1, 1, 1),
	substring(p2, 1, 1),
	substring(p3, 1, 1),
	substring(p4, 1, 1)
) as p6,
concat(
	substring(p1, 2, 1),
	substring(p2, 2, 1),
	substring(p3, 2, 1),
	substring(p4, 2, 1)
) as p7,
concat(
	substring(p1, 3, 1),
	substring(p2, 3, 1),
	substring(p3, 3, 1),
	substring(p4, 3, 1)
) as p8,
concat(
	substring(p1, 4, 1),
	substring(p2, 4, 1),
	substring(p3, 4, 1),
	substring(p4, 4, 1)
) as p9
from formatado
)
select 
row_number() over () as pos,
"Data Sorteio" as data,
(array[0, 1])[concurso %% 2 + 1] as id_turno,
p1::int,p2::int,p3::int,p4::int,p5::int,p6::int,p7::int,p8::int,p9::int,
trim(to_char((p1::int + p2::int + p3::int + p4::int + p5::int + p6::int + p7::int + p8::int + p9::int) %% 10000, '0000'))::int as p10
from formatados2
"""

In [56]:
import numpy as np

In [62]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
%matplotlib inline

engine = create_engine('postgresql://postgres:postgres@localhost:5432/curso_sql')

df = pd.read_sql(sql, con=engine)

df['data'] = pd.to_datetime(df.data)
df['p1_dezena'] = df.p1 % 100
df['p1_bicho'] = (np.where(df.p1_dezena == 0, 100, df.p1_dezena) - 1) // 4

In [65]:
df.p1_bicho.value_counts().sort_index()

0     209
1     233
2     220
3     217
4     214
5     202
6     214
7     197
8     221
9     240
10    191
11    230
12    222
13    228
14    220
15    214
16    187
17    189
18    223
19    224
20    207
21    236
22    190
23    199
24    219
Name: p1_bicho, dtype: int64

In [66]:
df.head()

,pos,data,id_turno,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p1_dezena,p1_bicho
0,1,1962-09-15,1,5349,8031,6492,5151,1416,5865,3041,4395,9121,8861,49,12
1,2,1962-09-22,0,3334,4714,967,6468,8452,3406,3794,3166,4478,8779,34,8
2,3,1962-09-29,1,7793,5637,1505,4184,5711,7514,7651,9308,3754,3057,93,23
3,4,1962-10-03,0,896,7354,8461,1951,3569,781,8349,9565,6411,7337,96,23
4,5,1962-10-06,1,3972,3280,3664,4058,3746,3334,9260,7865,2048,1227,72,17